.side-panel {
  width: 420px;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  overflow: hidden;
}

.panel-content {
  flex: 1;
  /* overflow-y: auto; */
  padding: var(--spacing-sm);
}

.panel-content::-webkit-scrollbar {
  width: 8px;
}

.panel-content::-webkit-scrollbar-track {
  background: transparent;
}

.panel-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-sm);
}

.panel-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}